{% extends 'layoutAdmin.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Ufa creation</h1>
        <div class="row">
            <div class="col-sm-8 col-12">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn-outline-primary btn-lg" type="submit" value="Créer" />
            {{ form_end(form) }}
            </div>
            <div class="col-4 border-left">
                    <a class="btn-lg btn-light" href="{{ path('ufa_index') }}">Retour à la liste</a>
            </div>
        </div>
    </div>
{% endblock %}
