{% block body %}
<section class="text-center">
    <div class="container-fluid">
        <div class="row side-bar">
            <div class="sidebar col-12">
                <h2 class="text-center "><strong>LES APPRENTIS</strong></h2>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-4">
                <div class="img-thumbnail apprenti-select">
                    <div class="formation-img apprenti-background"></div>
                    <div class="caption">
                        <h4>Quelle formation ?</h4>
                        <p>
                            <a href="/apprenti/formation">En savoir plus</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-thumbnail apprenti-select">
                    <div class="statut-img apprenti-background"></div>
                    <div class="caption">
                        <h4>Le statut d'apprenti</h4>
                        <p>
                            <a href="/apprenti/statut">En savoir plus</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-thumbnail apprenti-select">
                    <div class="contrat-img apprenti-background"></div>
                    <div class="caption">
                        <h4>Signer un contrat</h4>
                        <p>
                            <a href="/apprenti/contrat">En savoir plus</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
