{% block body %}
  <div class="container cfa-part">
      <div class="title-style">
          <h2 class="text-center">Les chiffres clés du CFA</h2>
      </div>
      <div class="row count-up">
          <div class="col-md-3 col-sm-12">
              <div class="counter text-center" data-count="150">0</div>
              <aside class="caption"><p><i class="fas fa-user"></i> Apprentis</p></aside>
          </div>
          <div class="col-md-3 col-sm-12">
              <div class="counter text-center" data-count="9">0</div>
              <aside class="caption"><p><i class="fas fa-book-open"></i> Formations</p></aside>
          </div>
          <div class="col-md-3 col-sm-12">
              <div class="counter text-center" data-count="5">0</div>
              <aside class="caption"><p><i class="fas fa-school"></i> UFA Partenaires</p></aside>
          </div>
          <div class="col-md-3 col-sm-12">
              <div class="counter text-center" data-count="80">0</div>
              <aside class="caption"><p><i class="fas fa-graduation-cap"></i> % Validations</p></aside>
          </div>
      </div>
  </div>
{% endblock %}