<section>
    <div class="row side-bar">
        <div class="sidebar col-12">
            <h2 class="text-center ">LE CFA</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-5 d-none d-sm-block">
            <img class="img-fluid center-block cfa-image" src="{{ asset('images/IFSI_Façade.jpg') }}" alt="façade-ifsi-Blois"/>
        </div>
        <div class="col-sm-12 col-md-7 mt-4">
            <p class="">
                Exitialis certamina cogebatur abnuens et reclamans, adulatorum oblatrantibus turmis, bellicosus sane
                milesque semper et militum ductor sed forensibus iurgiis longe discretus, qui metu sui discriminis
                anxius cum accusatores quaesitoresque subditivos sibi consociatos ex isdem foveis cerneret
                emergentes, quae clam palamve agitabantur.
            </p>
            <p class="text-center">
                <a class="btn btn-outline-success" href="{{ path('historiccfa_view') }}">En savoir plus</a>
            </p>

            <div class="row count-up ">
                <div class="col-md-3 col-xs-6 text-center">
                    <div class="counter " data-count="150">0</div>
                    <p><i class="fas fa-user"></i> Apprentis</p>
                </div>
                <div class="col-md-3 col-xs-6 text-center">
                    <div class="counter" data-count="9">0</div>
                    <p><i class="fas fa-book-open"></i> Formations</p>
                </div>
                <div class="col-md-2 col-xs-6 text-center">
                    <div class="counter" data-count="5">0</div>
                    <p><i class="fas fa-school"></i> UFA </p>
                </div>
                <div class="col-md-2 col-xs-6 text-center">
                    <div class="counter" data-count="80">0</div>
                    <p><i class="fas fa-graduation-cap"></i>% Validations</p>
                </div>
            </div>
        </div>
    </div>
</section>
