{% block body %}
<section>
    <div class="row side-bar">
        <div class="sidebar col-12">
            <h2 class="text-center ">LE CFA</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 mt-3">
            <img src="http://via.placeholder.com/650x250"/>
        </div>
        <div class="col-sm-5 mt-3">
            <p class="">
                Exitialis certamina cogebatur abnuens et reclamans, adulatorum oblatrantibus turmis, bellicosus sane
                milesque semper et militum ductor sed forensibus iurgiis longe discretus, qui metu sui discriminis
                anxius cum accusatores quaesitoresque subditivos sibi consociatos ex isdem foveis cerneret
                emergentes, quae clam palamve agitabantur.
            </p>
            <p class="text-center">
                <a class="btn btn-outline-success" href="#">En savoir plus</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 mt-5">
            <h2 class="text-center">Les chiffres clés du CFA</h2>
        </div>
    </div>
    <div class="row count-up my-3">
        <div class="col-md-3 col-sm-12 text-center">
            <div class="counter " data-count="150">0</div>
            <p><i class="fas fa-user"></i> Apprentis</p>
        </div>
        <div class="col-md-3 col-sm-12 text-center">
            <div class="counter" data-count="9">0</div>
            <p><i class="fas fa-book-open"></i> Formations</p>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
            <div class="counter" data-count="5">0</div>
            <p><i class="fas fa-school"></i> UFA Partenaires</p>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
            <div class="counter" data-count="80">0</div>
            <p><i class="fas fa-graduation-cap"></i>% Validations</p>
        </div>
    </div>
</section>
{% endblock %}
