{% block body %}
    <section>
    <div class="container-fluid">
        <div class="row side-bar">
            <div class="sidebar col-12">
                <h2 class="text-center "><strong>LE CFA</strong></h2>
            </div>
        </div>
    </div>
  <div class="container-fluid cfa-part">
      <div class="col">
          <p class="offset-8 mt-4">
              Exitialis certamina cogebatur abnuens et reclamans, adulatorum oblatrantibus turmis, bellicosus sane milesque semper et militum ductor sed forensibus iurgiis longe discretus, qui metu sui discriminis anxius cum accusatores quaesitoresque subditivos sibi consociatos ex isdem foveis cerneret emergentes, quae clam palamve agitabantur.
          </p>
          <a class="offset-10 btn btn-success" href="#">En savoir plus</a>
      </div>
      <div class="title-style">
          <h2 class="text-center text-cfa">Les chiffres clés du CFA</h2>
      </div>
      <div class="row count-up">
          <div class="offset-2 col-md-2 col-sm-12">
              <div class="counter text-center" data-count="150">0</div>
              <aside class="caption"><p><i class="fas fa-user"></i> Apprentis</p></aside>
          </div>
          <div class="col-md-3 col-sm-12">
              <div class="counter text-center" data-count="9">0</div>
              <aside class="caption"><p><i class="fas fa-book-open"></i> Formations</p></aside>
          </div>
          <div class="col-md-2 col-sm-12">
              <div class="counter text-center" data-count="5">0</div>
              <aside class="caption"><p><i class="fas fa-school"></i> UFA Partenaires</p></aside>
          </div>
          <div class="col-md-2 col-sm-12">
              <div class="counter text-center" data-count="80">0</div>
              <aside class="caption"><p><i class="fas fa-graduation-cap"></i>% Validations</p></aside>
          </div>
      </div>
  </div>
    </section>
{% endblock %}