{% block body %}
    <div class="container count-up">
        <div class="counter" data-count="150">0</div>
        <div class="counter" data-count="9">0</div>
        <div class="counter" data-count="5">0</div>
        <div class="counter" data-count="80">0</div>
    </div>
{% endblock %}