<section>
    <div class="row">
        <div class="sidebar col-12">
            <h2 class="text-center">NOS ACTUALITÉS</h2>
        </div>
    </div>
    <div class="row mt-3">
        {% for event in events %}
            <div class="col-sm-4 col-12">
                <div class="card shadow cardEventHP">
                    <div class="card-body">
                        <div class="card-title">
                            {% if event.date %}{{ event.date|date('d/m/Y') }}{% endif %}
                            | <a href="#">{{ event.title }}</a>
                        </div>
                        <p>{{ event.description | slice(0,100) ~ '...' }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row text-center mt-2">
        <div class="col-sm-12">
            <a class="btn btn-outline-success" href="{{ path('event_index') }}">Plus d'actualités ...</a>
        </div>
    </div>
</section>
