{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">

        {% include 'homepage/slider.html.twig' %}

        {% include 'homepage/cfa.html.twig' %}

        {{ render(controller('AppBundle:Event:showHomepageSection')) }}

    </div>

  {% include 'homepage/apprenti.html.twig' %}

    {{ render(controller('AppBundle:Partnair:showHomepageSlider')) }}


{% endblock %}

{% block javascripts %}{% endblock %}

