{% extends 'layout.html.twig' %}
{% block title %}cfa du champ social médico-social et sanitaire en région Centre-Val de Loire{% endblock %}
{% block body %}
    <div class="container-fluid">

        {% include 'homepage/slider.html.twig' %}

        {% include 'homepage/cfa.html.twig' %}

        {{ render(controller('AppBundle:Event:showHomepageSection')) }}


        {{ render(controller('AppBundle:Formation:list')) }}

        {% include 'homepage/apprenti.html.twig' %}
        {% include 'homepage/employer.html.twig' %}

         {{ render(controller('AppBundle:Partnair:showHomepageSlider')) }}

    </div>

{% endblock %}

{% block javascripts %}{% endblock %}

