{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">

        {% include 'homepage/slider.html.twig' %}

        {% include 'homepage/cfa.html.twig' %}

        {{ render(controller('AppBundle:Event:showHomepageSection')) }}


        {{ render(controller('AppBundle:Formation:list')) }}

        {% include 'homepage/apprenti.html.twig' %}

         {{ render(controller('AppBundle:Partnair:showHomepageSlider')) }}

    </div>

{% endblock %}

{% block javascripts %}{% endblock %}

