{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">

        {% include 'homepage/slider.html.twig' %}

        {% include 'homepage/cfa.html.twig' %}

        {{ render(controller('AppBundle:Event:showHomepageSection')) }}
    </div>

  {{ render(controller('AppBundle:Formation:list')) }}

  {% include 'homepage/apprenti.html.twig' %}

{% endblock %}

{% block javascripts %}{% endblock %}

