<section>
    <div class="row side-bar">
        <div class="sidebar col-12">
            <h2 class="text-center ">NOS PARTENAIRES</h2>
        </div>
    </div>
    <div id="partner" class="carousel slide logoPartner" data-ride="carousel">
        <div class="carousel-inner w-100 mb-3" role="listbox">
            {% for partnair in partnairs|batch(5) %}
                <div class="carousel-item {{ loop.first ? 'active' : '' }}">
                    <div class="row my-2 mx-auto">
                        {% for logo in partnair %}
                            <div class="col logos">
                                <a href="{{ logo.link }}">
                                    <img class=" mx-auto d-block shadow img-fluid" src="{{ logo.image }}" alt="{{ logo.name }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <a class="carousel-control-prev" href="#partner" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#partner" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
