<footer class="container-fluid mt-5">
    <div class="row pt-3">
        <div class="col-sm-2 offset-4 border-right">
            <ul class="list1">
                <li>
                    Adresse
                    <div class="minilist">59-63, Quai Henri Chavigny-41000 Blois</div>
                </li>
                <li>Email
                    <div class="minilist"><a href="mailto:contact@cfasms-centre-valdeloire.fr">contact@cfasms-centre-valdeloire.fr</a>
                    </div>
                </li>
                <li>Téléphone
                    <div class="minilist">+ 33 (0)9 83 38 27 35</div>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 col-12 border-left">
            <ul class="list2 text-left ">
                <li><a class="linkfooter" href="{{ path('faq_index') }}">F.A.Q</a></li>
                <li><a class="linkfooter" href="{{ path('legales_notices') }}" target="_blank">Mentions Légales</a></li>
            </ul>
        </div>
    </div>
</footer>