<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('build/style.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
        <body>
            {% block header %}
                <div class="col sidebar">
                    <h2 class="text-right pt-3 mr-5 title-cfa">Les métiers du champ social et sanitaire en région Centre</h2>
                </div>
                {% include '_navbar.html.twig' %}
            {% endblock %}

            {% block body %}
            {% endblock %}

            {% block footer%}
                <footer class="container-fluid mt-5">
                    <div class="row pt-3">
                        <div class="col-sm-2 offset-4 border-right">
                            <ul class="list1">
                                <li>
                                    Adresse
                                    <div class="minilist">59-63, Quai Henri Chavigny-41000 Blois</div>
                                </li>
                                <li>Email
                                    <div class="minilist"><a href="mailto:contact@cfasms-centre-valdeloire.fr">contact@cfasms-centre-valdeloire.fr</a></div>
                                </li>
                                <li>Téléphone
                                    <div class="minilist">+ 33 (0)9 83 38 27 35</div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-12 border-left">
                            <ul class="list2 text-left ">
                                <li><a class="linkfooter" href="{{ path('faqpage') }}">F.A.Q</a></li>
                                <li><a class="linkfooter" href="#">Plan du Site</a></li>
                                <li><a class="linkfooter" href="#">Mentions Légales</a></li>
                            </ul>
                        </div>
                    </div>
                    <hr class="border-bottom"/>
                    <div class="pb-3"></div>
                </footer>
            {% endblock %}
            <script src="{{ asset('build/app.js') }}"></script>
            {% block javascripts %}{% endblock %}
        </body>
</html>
