<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('build/style.css') }}">
    </head>
    <body>
        {% block body %}

        {% endblock %}
        {% block footer%}
            <footer class=" container-fluid">
                <div class="row side-bar">
                    <div class="sidebar"></div>
                </div>
                <div class="row pt-3">
                <div class="col-6 border-right">
                    <ul class="list1">
                        <li>
                            Adresse
                            <div class="minilist">59-63, Quai Henri Chavigny-41000 Blois</div>
                        </li>
                        <li>Email
                            <div class="minilist"><a href="mailto:contact@cfasms-centre-valdeloire.fr">contact@cfasms-centre-valdeloire.fr</a></div>
                        </li>
                        <li>Téléphone
                            <div class="minilist">+ 33 (0)9 83 38 27 35</div>
                        </li>

                    </ul>
                </div>
                <div class="col-6 border-left">
                    <ul class="text-left ">
                        <li><a href="#">F.A.Q</a></li>
                        <li><a href="#">Plan du Site</a></li>
                        <li><a href="#">Mentions Légales</a></li>
                    </ul>
                </div>
                </div>
                <hr class="border-bottom"/>
                <div class="text-center copyright"><p>COPYRIGHT © 2015 CFA SMS CENTRE - Val De Loire</p></div>
            </footer>
        {% endblock %}
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>

</html>
