{% extends 'base.html.twig' %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/style.css') }}">
{% endblock %}

{% block title %}CFA champ social et sanitaire {% endblock %}

{% block header %}
    <div class="col sidebar ">
        <h2 class="text-right title-cfa">Les métiers du champ social et sanitaire en région Centre-Val de Loire</h2>
    </div>
    {% include '_navbar.html.twig' %}
{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
    {% include '_footer.html.twig' %}
{% endblock %}

{% block javascripts %}{% endblock %}