{%  extends base.html.twig %}

{% block body %}

<h1>FOIRE AUX QUESTIONS</h1>

<ul>
    <li>
        <h2>" Est-ce que je dois obligatoirement trouver un employeur avant de m'inscrire aux épreuves d'admission ?"</h2>
        <p>Vous n'y êtes pas obligés. Cependant, vous ne pouvez entrer en formation par la voie de l'apprentissage que
            si vous avez signé un contrat d'apprentissage; sinon, votre formation devra s'effectuer en voie directe.
            La réglementation indique que le contrat d'apprentissage peut être signé dans une période de trois mois avant
            ou après le démarrage du cycle de formation. Si, par exemple, vous trouvez un contrat en juillet, et que vous
            n'avez pas passé les épreuves d'admission, le centre de formation devra organiser des épreuves pour vous
            permettre d'intégrer la formation en septembre, si vous obtenez la moyenne aux épreuves d'admission.
        </p>
    </li>
    <li>
        <h2>Je voudrais faire un apprentissage dans le secteur social mais j'ai plus de 26 ans : existe-t-il
            des dérogations ? Quelles solutions s'offrent à moi ?</h2>
        <p>La réglementation envisage quatre situations ou une dérogation peut être accordée (art. L6222-2 du Code du travail).
            Pour demander la dérogation, vous devez vous adresser à la Direction Départementale du Travail, de l'Emploi
            et de la Formation Professionnelle de votre département.'
        </p>
    </li>
    <li>
        <h2>" Pourriez-vous me dire quel salaire touche un apprenti ? "</h2>
        <p>La réglementation encadre très précisément le salaire des apprentis, selon leur âge et leur progression dans
            le cycle de formation. Par conséquent, les situations peuvent être très différentes, d'autant plus si
            l'apprenti travaille dans le secteur privé ou le secteur public, s'il prépare un diplôme de niveau III, IV ou V.
            Le plus simple est de consulter le lien que vous trouverez à la page : <a href="#">"Vous voulez embaucher un apprenti"</a>
            (salaire, aides, frais divers).
        </p>
    </li>
    <li>
        <h2>" Quelles sont les conditions pour devenir maître d’apprentissage ? "</h2>
        <p> Être titulaire d'un diplôme de niveau équivalent à celui préparé par l'apprenti. Avoir une expérience
            professionnelle d’au moins deux ans.
        </p>
    </li>
</ul>
{% endblock %}