{% extends 'layout.html.twig' %}
{% block title %}Un évenement du cfa sms de Blois en détails{% endblock %}
{% block body %}
    <div id="activeTab" data-active="cfa" class=" container-fluid formation">
        <div class="row">
            <div class="section-title  background-event d-none d-sm-block"></div>
        </div>
        <div class="row">
            <div class="col offset-1 mb-5 ">
                <h1 class="title-style style-page">{{ event.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <p>
                    {% if event.date %}{{ event.date|date('d/m/Y') }}{% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <p>
                    {{ event.description }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}

