$color-primary: #3462ac;
$color-primary2: #18ba60;
$color-primary3: #cf482a;

$color-basic: white;
$color-basic-inverse: invert($color-basic);

$color-sidebar: $color-primary;
$shadow: #aaaaaa;

$fontText: "Poppins";

@font-face {
  font-family: 'Poppins';
  @import url('https://fonts.googleapis.com/css?family=Poppins');
}

body {
  font-family: $fontText;
}

li {
  list-style-type: none;
}

.navbar-nav {
  font-size: 1.2em;
}

.logo-navbar-admin {
  width: 80px;
  height: 60px;
}
