$color-primary: #3462ac;
$color-primary2: #18ba60;
$color-primary3: #cf482a;

$color-basic: white;
$color-basic-inverse: invert($color-basic);

$color-sidebar: $color-primary;
$shadow: #aaaaaa;

$fontText: "Poppins";

@font-face {
  font-family: 'Poppins';
  @import url('https://fonts.googleapis.com/css?family=Poppins');
}

body {
  font-family: $fontText;
  background-image: url('../images/background.png');
  background-repeat: repeat;
    p {
      font-size: 1em;
    }
    h1 {
      font-size: 2em;
    }
}

/**Navbar**/

.logo {
  width: 100px;
}

.navbar {
  .nav-link {
    font-size: 1.2em;
    color: $color-basic-inverse;
  }

  .nav-link:hover {
    background-color: $color-primary2;
    color: $color-basic;
  }
  box-shadow: 0 0 6px $shadow;
}

.dropdown-item:hover {
  background-color: $color-primary2;
}


.style-page {
  padding: 2px 10px 2px 5px;
  border-left: 6px solid $color-primary2;

}

.title-style {
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 100px;
}

.slider {
  .carousel-item {
    height: 500px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.count-up {
  .counter {
    color: $color-primary2;
    font-size: 3em;
    text-shadow: 2px 2px 4px $color-primary2;
  }

  p {
    font-size: 1.2em;
  }
}

.cfa-part {
  background-color: $color-basic;
  font-size: large;
}

.btn {
  box-shadow: 6px 6px 6px $shadow;
  margin-bottom: 8px;
}

/** Footer **/

footer {
  background-image: url('../images/footer.png');
  box-shadow: 0px -6px 6px $shadow;
  color: $color-basic;
  font-size: 1.2em;
  a {
    &:hover {
      color: $color-primary2;
    }
  }
  li {
    list-style: none;
  }
}

.minilist {
  font-size: medium;
}

.list1 {
  margin-left: -55%;
}

.sidebar {
  box-shadow: 0 3px 5px $shadow;
  padding-top: 0.3em;
  font-variant: small-caps;
  font-size: 1.6em;
  background-color: $color-primary;
  padding-bottom: 0.4em;
  margin-bottom: 1.3em;
  &:first-child {
    margin-bottom: 0;
  }
  h2 {
    color: $color-basic;
    margin-bottom: 0;
    text-shadow: 0 0 2px $color-basic;
  }
}

/** Apprenti **/

.remember {
  width: 100%;
  height: 100%;
  padding-top: 20px;

}

.rememberTitle {
  font-size: 1.5em;
  color: $color-primary3;
  text-align: center;
  padding: 0px 20px 0px 20px;
  top: 5px;
  left: 10%;
  position: absolute;
  background-image: url('../images/background.png');
  background-repeat: repeat;


}

.containt {
  margin: 10px;
  text-align: left;
  padding: 20px 15px 20px 10px;
  border: 1px solid $color-primary3;
  border-radius: 10px;
}

.table-bordered {
  border-collapse: separate;
  empty-cells: hide;
}

.thead-cycle {
  background-color: $color-primary2;
  color: $color-basic;
  font-size: 20px;
}

.year {
  background-color: $color-primary;
  color: $color-basic;
  font-size: 20px;
}

.text-body {
  background-color: #C3D9E0;
}

.style-subtitle {
  color: $color-primary2;
}

.apprentiTitle {
  color: $color-primary;
}

.contrat-img {
  background-image: url("../images/signature.jpg");
}

.statut-img {
  background-image: url("../images/statut.jpg");
}

.formation-img {
  background-image: url("../images/formation_apprenti.jpg");
}

.apprenti-select {
  position: relative;
  overflow: hidden;
  min-height: 250px;
  padding: 0px;
  display: flex;
  align-items: end;
  z-index: 0;

  :not(:hover) p {
    display: none;
  }
  .caption {
    background-color: white;
    padding: 15px;
    opacity: 0.8;
    width: 100%;
    z-index: 1;
  }
  .apprenti-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    filter: grayscale(75%);
  }
}

  /** Formation **/

  .title-formation {
    color: $color-primary2;
  }

  .background-formation {
    background-image: url("../images/formation_back.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }

  .meeting-formation {
    background-repeat: no-repeat;
    margin-left: 100px;
    margin-top: 50px;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }

  .list-formation {
    li {
      list-style: none;
    }
  }

  /** faq **/

  .question {
    color: $color-primary2;

  }

  .background-faq {
    background-image: url("../images/faq.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 75%;
    width: 100%;
    height: 350px;
  }

  .events-bg {
    background-image: url("/images/unsplash3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    .card {
      margin-bottom: 15px;
      box-shadow: 8px 8px 8px black;
    }
  }

    .style-page {
      padding: 2px 10px 2px 5px;
      border-left: 5px solid $color-primary2;

    }

    .link-formation {
      color: black;
      font-size: 16px;
      &:hover {
        color: $color-primary2;
      }

      .formation-presentation {
        font-size: 1.2em;

      }
    }

      .background-apprenti {
        background-image: url("../images/apprenti.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100% 80%;
        width: 100%;
        height: 400px;
      }


    .events-bg {
      background-image: url("../images/event_background_img.jpg");
      background-attachment: fixed;
      background-repeat: no-repeat;
      .card {
        margin-bottom: 15px;
        box-shadow: 8px 8px 8px black;
      }
    }

    .homepage-formation {
      ul {
        columns: 2;
        margin: 10px;
      }
      li {
        margin-bottom: 10px;
        font-size: 2em;
      }
    }

@media (max-width: 1690px) {
  .homepage-formation {
    ul {
      columns: 1;
      margin: 10px;
    }
    li {
      margin-bottom: 10px;
      font-size: 2em;
    }
  }
}

.picture-formation {
  height: 100%;
}
    .leaflet {
      width: 48vw;
      height: 48vw;
    }

    /** carousel logos partner **/

    .logoPartner {
      img {
        min-height: 100%;
        max-height: 180px;
      }
    }

  /** employeurs **/

.hireApprentice {
  .row {
    margin-right: 15px;
    margin-left: 15px;
  }
  span {
    font-weight: bold;
  }
  .containt {
    min-height: 200px;
  }
}

.masterInstructor {
  h1 {
    font-size: 2em;
  }
}


.learningCondition {
  .containt{
    padding: 20px 20px 20px 20px;
    text-align: center;
  }
}

.employer_homepage {
  .img-fluid {
    margin-right: -15px;
    max-height: 300px;
  }
  p {
    font-size: 1.5em;
  }
  a {
    color: black;
    font-size: 0.5em;
    &:hover {
      color: $color-primary2;
    }
  }
  li {
    font-size: 2em;
  }
}

.socialSecurityContributions {
  .row {
    margin-right: 15px;
    margin-left: 15px;
  }
  .rememberTitle {
    font-size: 1.2em;
  }
}

  /** end employeurs **/
.list_none {
  list-style-type: none;
}

/** CFApage **/

.president-letter {
  font-family: 'Satisfy', cursive;
  font-size: 1.3em;
  margin-left: 2em;
}
