@import "../../node_modules/bootstrap/dist/css/bootstrap.css";


$blue: #009fe3;
$background-nav-footer: #3e423a;
$vert: #23a638;
$gris:  #f2f2f2;
$black: black;
$white: white;
$color-sidebar: #009fe3;
$background-nav-footer: #3e423a;


li{

  list-style: none;
  margin-top: 10px;
  font-size: large;

}

.title-style {
  margin-bottom: 50px;
  margin-top: 50px;
}

.slider-block {
  width: 100%;
  height: 500px;
}

.count-up {
  color: $white;
  padding: 20px;
}

.counter {
  background-color: $white;
  color: $vert;
  display: table-cell;
  margin:1.5%;
  font-size:50px;
  border-radius: 50%;
  width:200px;
  height:200px;
  vertical-align: middle;
}

aside {
  font-size: 22px;
  margin-top: 20px;
  margin-left: 30px;
  color: $black;
}

.cfa-part {
  background-color: $gris;
}


  
/** Footer **/

footer{
  background-color: $background-nav-footer;
  color:white;
  a {
    color: $white;
    &:hover {
      color: $color-sidebar;
    }
  }

}

.minilist{
  font-size: medium;
}

.list1{
  margin-left: -55%;
}
  
.sidebar {
  float: left;
  width: 150em;
  height: 100%;
  background: $color-sidebar;
  padding: 10px;
}

/** Apprenti **/

.apprentiH1 {
  background-color: $blue;
  color: $white;
}

.apprentiTitle {
  color:$blue;
}

/** Formation **/

.title-formation {
  color: $vert;
}

.background-formation {
  background-image: url("/images/background_formation.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 75%;
  width: 100%;
  height: 350px;
  margin-bottom: 20px;
}

.style-page {
  padding: 2px 10px 2px 5px; /* Dans l'ordre: padding-top padding-right padding-bottom padding-left */
  border-left: 5px solid $vert;
}

.link-formation {
  color: black !important;
  &:hover {
    color: $vert;
  }
}
