{% extends 'layout.html.twig' %}
{% block title %}Les témoignages des employeurs et des apprentis{% endblock %}
{% block body %}
    <div id="activeTab" data-active="employer" class="container-fluid masterInstructor">
        <div class="row">
            <div class="section-title background-employer d-none d-sm-block"></div>
        </div>
        <div class="row">
            <div class="col offset-md-1">
                <h1 class="my-5 style-page">Témoignages des employeurs et des apprentis</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-md-1 mb-5 col-sm-mb-2">
                <p></p>
            </div>
                <div class="col-md-6 offset-1">
                    <a class="btn btn-outline-success" target="_blank" href="https://www.youtube.com/watch?v=9_szFXcjYHA">Découvrez le témoignage de Cécile apprentie à l'ASE</a>
                </div>
            </div>
    </div>
{% endblock %}