{% extends 'layout.html.twig' %}
{% block title %}Les démarches pour embaucher un apprentis{% endblock %}
{% block body %}
    <div id="activeTab" data-active="employer" class="container-fluid">
        <div class="row d-none d-sm-block">
            <div class="section-title  background-employer"></div>
        </div>
        <div class="row">
            <div class="col offset-md-1 ">
                <h1 class=" my-5 style-page">Embaucher un apprenti</h1>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-md-5 col-sm-12 my-5 remember">
                <p class="rememberTitle">Vous souhaitez...</p>
                <div class="containt shadow">
                    <ul class="list_none">
                        <li>
                            <i class="fas fa-angle-right"></i>
                            Mettre en place une véritable politique de Gestion Prévisionnelle des Emplois et
                            Compétences <a
                                    href="http://travail-emploi.gouv.fr/emploi/accompagnement-des-mutations-economiques/appui-aux-mutations-economiques/article/gestion-previsionnelle-de-l-emploi-et-des-competences-gpec">GPEC</a>.
                        </li>
                        <li>
                            <i class="fas fa-angle-right"></i>
                            Contribuer à la professionnalisation d'un jeune âgé de 18 à 29 ans.
                        </li>
                        <li>
                            <i class="fas fa-angle-right"></i>
                            Dynamiser votre personnel en lui donnant l'occasion de s'investir dans une fonction
                            tutorale.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5  col-sm-12 my-5 remember">
                <p class="rememberTitle">Vous pouvez...</p>
                <div class="containt shadow">
                    <ul class="list_none">
                        <li>
                            <i class="fas fa-angle-right"></i>
                            Accueillir dans votre équipe un apprenti "qui prendra la relève".
                        </li>
                        <li>
                            <i class="fas fa-angle-right"></i>
                            Devenir partenaire d'un centre de formation dans la co-construction du parcours
                            professionnel de l'apprenti.
                        </li>
                        <li>
                            <i class="fas fa-angle-right"></i>
                            Bénéficier de certaines aides accordées par la Région Centre-Val de Loire en fonction de
                            la taille de votre structure d'accueil.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col offset-md-1 style-subtitle mb-5 col-sm-mb-2">
                <h2>Le contrat d'apprentissage</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-1">
                <p>Dans le secteur sanitaire, social et médico-social, ce contrat de travail ouvre la possibilité pour
                    un jeune salarié de 18 à 29 ans révolus (des dérogations étant possibles) d'effectuer une formation
                    initiale sous statut de salarié. Tout employeur privé (secteur associatif ou lucratif) ou public
                    (fonction publique d'état, territoriale ou hospitalière) peut recruter un apprenti.
                </p>
                <p>L'apprentissage est une des quatre voies d’accès à la certification, institutionnalisée par la
                    loi
                    n°71-576 du 16 juillet 1971, réformée à plusieurs reprises jusqu’à nos jours, qui s’ajoute à la
                    formation initiale sous statut d'étudiant ("voie directe"), à la formation continue ("situation
                    d’emploi"), en vue de l’obtention d’un diplôme, titre ou certification à finalité
                    professionnelle.
                </p>
                <p>C'est un contrat de travail particulier, réaffirmé par la loi n°2002-73 du 17 janvier 2002 et la
                    loi
                    2006-396 du 31 mars 2006, règlementé par le Code du travail. Depuis la loi n°2014-288 du 5 mars
                    2014,
                    le contrat d'apprentissage peut être conclu en CDD ou en CDI.
                </p>
                <p>Bien que l'apprentissage ait montré les nombreux intérêts de sa spécificité, une image dépréciative
                    circule encore de nos jours… Quelle que soit la méconnaissance de ce dispositif ou les malentendus à
                    son égard, l'apprentissage n'est :
                </p>
                <ul class="list-page paragraph">
                    <li><span>ni une forme hâtive de pallier des difficultés structurelles ou conjoncturelles liées à la
                            gestion des emplois et compétences
                        </span>
                    </li>
                    <li><span>ni une manière de concevoir un coût du travail révisé à la baisse, en employant du
                             personnel considéré à bas prix
                        </span>
                    </li>
                    <li><span>ni un engagement de principe qui, sans suivi dans la durée, ne sera pas en mesure de faire
                        fructifier les bénéfices potentiels d’un réel processus de professionnalisation, ni pourl’apprenti,
                        ni pour le lieu
                        </span>
                    </li>
                </ul>
                <p>
                    L'apprentissage est une manière de concevoir la formation professionnelle sur le lieu d’emploi, sur
                    la base d’une transmission des savoir-faire, des compétences, des connaissances, en articulation
                    avec un centre de formation d'apprentis.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-1 my-md-2">
                <h2 class="mb-5 style-subtitle">Les démarches pratiques</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-1 my-md-2">
                <p>Ces quelques étapes peuvent vous aider à finaliser un projet fructueux pour votre structure et
                    votre futur apprenti.
                </p>
                <ul class="list-page paragraph">
                    <li>
                        <p class="m-0">
                            <span class="font-weight-bold">élaborer le "projet apprentissage" au sein de
                                l'établissement ou du service d'accueil
                            </span>
                        </p>
                        <p>
                            <span>pourquoi embaucher un apprenti, pour quel profil de poste, pour préparer quel
                                diplôme,
                                avec quel maître d'apprentissage disponible et volontaire ?
                            </span>
                        </p>
                    </li>
                    <li>
                        <p class="m-0">
                            <span class="font-weight-bold">Recevoir des candidatures d'apprentis</span>
                        </p>
                        <p>
                            <span>si vous n'avez pas de candidature en vue, le CFA peut vous proposer des personnes
                                intéressées et vérifier les préalables de l'admission en formation. Le CFA encourage
                                et soutient particulièrement les apprentis reconnus "travailleur handicapé" pour finaliser
                                leur projet professionnel avec leur futur employeur.
                            </span>
                        </p>
                    </li>
                    <li>
                        <p class="m-0">
                            <span class="font-weight-bold">Choisir le maître d'apprentissage</span>
                        </p>
                        <p>
                            <span>de niveau équivalent à celui préparé par l'apprenti et justifier d'une expérience
                                professionnelle de 2 ans minimum.
                            </span>
                        </p>
                    </li>
                    <li>
                        <p class="m-0">
                            <span class="font-weight-bold">Se procurer le contrat d'apprentissage</span>
                        </p>
                        <ul>
                            <li>
                                <p class="m-0">
                                    <span>s'adresser au CFA, ou à la Chambre de Commerce et d'Industrie de votre
                                        département, ou le contrat (Cerfa FA 13) et sa notice d'aide (Cerfa FA 14) sur :
                                    </span>
                                </p>
                                <p class="text-center m-0">
                                   <span><a href="https://www.service-public.fr/particuliers/vosdroits/R1319">https://www.service-public.fr/particuliers/vosdroits/R1319</a>
                                   </span>
                                </p>
                            </li>
                            <li><span>remplir et finaliser le contrat par les signatures conjointes de l'apprenti, de
                                l'employeur et du CFA.
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p class="m-0">
                            <span class="font-weight-bold">Procéder à l'enregistrement du contrat d'apprentissage</span>
                        </p>
                        <p>
                        <span>en l'envoyant au CFA qui le transmettra à la Chambre de Commerce et d'Industrie ou
                            l'unité territoriale de la Direccte de votre département.
                        </span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-1 my-md-2">
                <h2 class="mb-5 style-subtitle">Les aides</h2>
                <p>Depuis plus de dix ans, le Conseil Régional Centre - Val de Loire a apporté une attention
                    particulière au secteur sanitaire, social et médico-social en mettant en œuvre une politique
                    volontariste pour y favoriser le développement de l'apprentissage.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-1 my-md-2">
                <h2 class="mb-5 style-subtitle">Les aides de l'État et de la Région</h2>

                <h3 class="style-title-3">Employeurs de moins de 11 salariés</h3>
                <p>Malgré la suppression (par la loi de finances n°2013-1278 du 29/12/2013) de l'Indemnité
                    Compensatrice
                    Forfaitaire qui était versée aux employeurs public et privé, la Région Centre - Val de Loire octroie
                    une
                    prime à l'apprentissage, visant essentiellement les entreprises de moins de 11 salariés.
                </p>
                <p>Les employeurs de moins de 11 salariés sont éligibles à une prime de 1000 € pour chaque année du
                    contrat
                    (sous condition d'assiduité de l'apprenti).
                </p>
                <p>Ceux qui n'ont jamais recruté d'apprentis, ou n'en ayant pas recruté depuis cinq ans, sont éligibles
                    à la prime "primo-recruteur" de 500 €, la première année du contrat.
                </p>

                <h3 class="style-title-3">Employeurs de 11 à 249 salariés</h3>
                <p>
                    Les employeurs (privés, fonction publique territoriale ou hospitalière) de 11 à 249 salariés sont
                    éligibles à une prime de 1000 € pour la première année du contrat, à l'issue des deux mois de
                    période
                    d'essai.
                </p>

                <h3 class="style-title-3">Crédit d'impôt (sans condition de taille)</h3>
                <p>Les entreprises imposées d'après leur bénéfice réel (ou exonérées en application de critères
                    particuliers) sont éligibles à un crédit d'impôt de 1 600 € par apprenti pour la première année de
                    formation conduisant à un diplôme de niveau V à III.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-1 my-md-2">
                <h2 class="mb-5 style-subtitle">Vous avez embauché un apprenti reconnu travailleur handicapé (TH)</h2>

                <p>Les aides ci-dessus sont cumulables avec celles de l'AGEFIPH (secteur privé) et celles du FIPHPFP
                    (secteur public).
                </p>
                <p><span class="font-weight-bold">L'AGEFIPH</span> (Association de GEstion du Fonds pour l'Insertion
                    professionnelle des
                    Personnes
                    Handicapées) octroie une aide aux employeurs privés :
                </p>
                <ul class="list-page paragraph">
                    <li>
                        <span>jusqu'à 3 000 € chaque année du contrat pour l'embauche en CDD d'un apprenti reconnu TH. Cette
                        aide est accordée sans condition de taille, la demande devant être déposée dans les trois mois
                        suivants la signature du contrat ;</span>
                    </li>
                    <li>
                        <span>13 000 € pour l'embauche en CDI d'un apprenti reconnu TH. Cette aide est accordée sans condition
                        de taille, la demande devant être déposée dans les trois mois suivants la signature du contrat ;
                        </span>
                    </li>
                    <li>
                        <span>pour l'embauche d'un apprenti reconnu TH en CDI ou en CDD d'au moins 12 mois, une prime de 1 000
                        à 4 000 € selon la nature du contrat, à l'issue de la période d'apprentissage.
                        </span>
                    </li>
                </ul>
                <p>
                    <span class="font-weight-bold">Le FIPHFP</span> (Fonds pour l'Insertion des Personnes Handicapées
                    dans la Fonction Publique) octroie plusieurs aides aux employeurs publics pour l'embauche d'un
                    apprenti reconnu TH :
                </p>
                <ul class="list-page paragraph">
                    <li>
                        <span>une prise en charge de 80% du coût salarial chargé pour chaque année du contrat ;</span>
                    </li>
                    <li>
                        <span>une aide financière pour la prise en charge des frais d'accompagnement d'un apprenti en
                            situation de handicap, correspondant à 520 fois le SMIC horaire par année du contrat ;</span>
                    </li>
                    <li>
                        <span>1600 € par année du contrat pour l'embauche en CDI d'un apprenti reconnu TH.</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row homepage-formation">
            <div class="col-md-10 offset-md-1 remember">
                <p class="rememberTitle">Liens</p>
                <div class="containt shadow">
                    <ul class="list_none mx-5">
                        <li>
                            <a href="https://www.agefiph.fr/Entreprise">Agefiph</a>
                        </li>
                        <li>
                            <a href="http://www.regioncentre-valdeloire.fr/accueil/les-services-en-ligne/la-region-vous-aide/education-formation/aide-aux-employeurs-apprentis.html">Aide
                                aux employeurs en région</a>
                        </li>
                        <li>
                            <a href="http://www.fiphfp.fr/">Fiphfp</a>
                        </li>
                        <li>
                            <a href="http://www.oeth.org/">Oeth</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}