{% extends 'layout.html.twig' %}
{% block body %}
    <div class="container-fluid hireApprentice">
        <div class="row">
            <div class="col offset-md-1">
                <h1 class=" my-5 style-page">Embaucher un apprenti</h1>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-md-5 col-sm-12 my-5 remember">
                <div class="rememberTitle">Vous souhaitez...</div>
                <div class="containt shadow">
                    <ul class="list_none">
                        <li>
                            <i class="fas fa-angle-right"></i>
                            Mettre en place une véritable politique de Gestion Prévisionnelle des Emplois et
                            Compétences <a
                                    href="http://travail-emploi.gouv.fr/emploi/accompagnement-des-mutations-economiques/appui-aux-mutations-economiques/article/gestion-previsionnelle-de-l-emploi-et-des-competences-gpec">GPEC</a>.
                        </li>
                        <li>
                            <i class="fas fa-angle-right"></i>
                            Contribuer à la professionnalisation d'un jeune âgé de 18 à 25 ans.
                        </li>
                        <li>
                            <i class="fas fa-angle-right"></i>
                            Dynamiser votre personnel en lui donnant l'occasion de s'investir dans une fonction
                            tutorale.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5  col-sm-12 my-5 remember">
                <div class="rememberTitle">Vous pouvez...</div>
                <div class="containt shadow">
                    <ul class="list_none">
                        <li>
                            <i class="fas fa-angle-right"></i>
                            Accueillir dans votre équipe un apprenti "qui prendra la relève".
                        </li>
                        <li>
                            <i class="fas fa-angle-right"></i>
                            Devenir partenaire d'un centre de formation dans la co-construction du parcours
                            professionnel de l'apprenti.
                        </li>
                        <li>
                            <i class="fas fa-angle-right"></i>
                            Bénéficier de certaines aides accordées par la Région Centre-Val de Loire en fonction de
                            la taille de votre structure d'accueil.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col offset-1 style-subtitle mb-5">
                <h2>Le contrat d'apprentissage</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col offset-1">
                <p>
                    Dans le secteur sanitaire, social et médico-social, ce contrat de travail ouvre la possibilité pour
                    un
                    jeune salarié de 18 à 25 ans révolus (des dérogations étant possibles) d'effectuer une formation
                    initiale sous statut de salarié. Tout employeur privé (secteur associatif ou lucratif) ou public
                    (fonction publique d'État, territoriale ou hospitalière) peut recruter un apprenti.
                </p>
                <p>
                    L'apprentissage est une des quatre voies d’accès à la certification, institutionnalisée par la
                    loi
                    n°71-576 du 16 juillet 1971, réformée à plusieurs reprises jusqu’à nos jours, qui s’ajoute à la
                    formation initiale sous statut d'étudiant ("voie directe"), à la formation continue ("situation
                    d’emploi"), en vue de l’obtention d’un diplôme, titre ou certification à finalité
                    professionnelle.
                </p>
                <p>
                    C'est un contrat de travail particulier, réaffirmé par la loi n°2002-73 du 17 janvier 2002 et la
                    loi
                    2006-396 du 31 mars 2006, règlementé par le Code du travail. Depuis la loi n°2014-288 du 5 mars
                    2014,
                    le contrat d'apprentissage peut être conclu en CDD ou en CDI.
                </p>
                <p>
                    Bien que l'apprentissage ait montré les nombreux intérêts de sa spécificité, une image dépréciative
                    circule encore de nos jours… Quelle que soit la méconnaissance de ce dispositif ou les malentendus à
                    son
                    égard, l'apprentissage n'est :
                </p>
                <ul class="list_none">
                    <li>
                        - ni une forme hâtive de pallier des difficultés structurelles ou conjoncturelles liées à la
                        gestion des emplois et compétences
                    </li>
                    <li>
                        - ni une manière de concevoir un coût du travail révisé à la baisse, en employant du
                        personnel
                        considéré à bas prix
                    </li>
                    <li>
                        - ni un engagement de principe qui, sans suivi dans la durée, ne sera pas en mesure de faire
                        fructifier les bénéfices potentiels d’un réel processus de professionnalisation, ni pour
                        l’apprenti, ni pour le lieu d’emploi...
                    </li>
                </ul>
                <p>
                    L'apprentissage est une manière de concevoir la formation professionnelle sur le lieu d’emploi, sur
                    la base d’une transmission des savoir-faire, des compétences, des connaissances, en articulation
                    avec un centre de formation d'apprentis.
                </p>
            </div>
        </div>
        <div class="row my-5">
            <div class="col offset-1 style-subtitle mb-5">
                <h2>Les démarches pratiques</h2>
            </div>
            <div class="row">
                <div class="col offset-1">
                    <p>
                        Ces quelques étapes peuvent vous aider à finaliser un projet fructueux pour votre structure et
                        votre futur apprenti.
                    </p>
                    <ol>
                        <li>
                            <span>Élaborer le "projet apprentissage" au sein de l'établissement ou du service d'accueil</span>
                            <p>
                                - pourquoi embaucher un apprenti, pour quel profil de poste, pour préparer quel
                                diplôme,
                                avec quel maître d'apprentissage disponible et volontaire ?
                            </p>
                        </li>
                        <li>
                            <span>Recevoir des candidatures d'apprentis</span>
                            <p>
                                - si vous n'avez pas de candidature en vue, le CFA peut vous proposer des personnes
                                intéressées et vérifier les préalables de l'admission en formation. Le CFA encourage
                                et
                                soutient particulièrement les apprentis reconnus "travailleur handicapé" pour finaliser
                                leur
                                projet professionnel avec leur futur employeur.
                            </p>
                        </li>
                        <li>
                            <span>Choisir le maître d'apprentissage</span>
                            <p>
                                de niveau équivalent à celui préparé par l'apprenti et justifier d'une expérience
                                professionnelle de 2 ans minimum.
                            </p>
                        </li>
                        <li>
                            <span>Se procurer le contrat d'apprentissage</span>
                            <p>
                                - s'adresser au CFA, ou à la Chambre de Commerce et d'Industrie de votre département,
                                ou
                                télécharger le contrat (Cerfa FA 13) et sa notice d'aide (Cerfa FA 14) sur :
                                <a href="https://www.service-public.fr/particuliers/vosdroits/R1319">https://www.service-public.fr/particuliers/vosdroits/R1319</a>
                            </p>
                            <p>
                                - remplir et finaliser le contrat par les signatures conjointes de l'apprenti, de
                                l'employeur et du CFA.
                            </p>
                        </li>
                        <li>
                            <span>Procéder à l'enregistrement du contrat d'apprentissage</span>
                            <p>
                                en l'envoyant au CFA qui le transmettra à la Chambre de Commerce et d'Industrie ou
                                l'unité
                                territoriale de la Direccte de votre département.
                            </p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div> <!-- end container-fluid --!>
{% endblock %}