{% extends 'layout.html.twig' %}

{% block body %}
    <div id="activeTab" data-active="employer" class="container-fluid learningCondition">
    <div class="row background-employer section-title d-none d-sm-block">
        <div class="section-title background-employer col"></div>
    </div>
    <div class="row">
        <div class="col offset-md-1">
            <h1 class=" my-5 style-page">Les principes de l'apprentissage</h1>
        </div>
    </div>
    <div class="row mb-5 col-sm-mb-2">
        <div class="col offset-md-1">
            <p>
                Dans la formation par l'apprentissage, le lieu d'accueil de l'apprenti joue un rôle majeur : c'est à
                partir de l'immersion dans le monde professionnel que l'apprenti va appréhender la formation,
                construire un sentiment d'appartenance à une culture du secteur, élaborer les postures
                professionnelles qui donneront du sens à son intervention.
            </p>
            <p>
                Dans ce processus, le dispositif d'accompagnement de l'apprenti tient une place centrale sur le lieu
                d'emploi. Si la fonction tutorale peut être partagée entre plusieurs salariés (Art. L 6223-6), c'est
                au
                <a href="#">maître d'apprentissage</a>
                qu'incombe la responsabilité du suivi personnalisé pendant
                la durée du contrat. La qualité de l'accompagnement sera pour l'apprenti un gage de réussite
                incontestable.
            </p>
            <p>
                Pour autant, la formation par l'apprentissage ne peut être assimilée à une "formation maison"... Si
                elle est pour partie dispensée sur le lieu d'emploi, elle s'opère selon un principe d'alternance
                avec le centre de formation, où là encore, un suivi personnalisé permettra à l'apprenti de faire le
                point sur ses acquis professionnels, tout en complétant les connaissances et les compétences
                acquises par l'expérience sur le lieu d'emploi.
            </p>
            <p>
                Ainsi, la formation par l'apprentissage est l'occasion pour le lieu d'emploi d'une transmission des
                savoirs-faire, d'une élaboration des pratiques, en lien avec une Unité de Formation d'Apprentis
                (UFA) qui contribue en même temps à la veille professionnelle et l'évolution des savoirs
                professionnels. Dans cette perspective de co-construction de la formation, la qualité du lien entre
                le lieu d'emploi et le centre de formation est primordiale, afin que l'apprenti exprime ses
                potentiels et s'accomplisse dans la formation.
            </p>
        </div>
    </div>
    <div class="row mb-5 col-sm-mb-2">
        <div class="col offset-md-1 style-subtitle mb-5 col-sm-mb-2">
            <h2>Les engagements des parties</h2>
        </div>
    </div>
    <div class="row">
        <div class="col offset-md-1">
            <p>
                Chacune des parties engagées par la signature s'engage envers les autres dans un cadre règlementé :
                par le Code du travail pour ce qui concerne les relations au travail, par la règlementation des
                diplômes (arrêtés, circulaires, référentiels professionnels) du côté de la formation.
            </p>
            <p>
                Outre ses obligations en matière de salaires, l'employeur doit notamment :
            </p>
            <ul class="list_none">
                <li>
                    <i class="fas fa-angle-right"></i>
                    confier à l'apprenti des tâches ou des postes permettant d'exécuter des opérations ou travaux
                    conformes à une progression annuelle définie par accord avec le centre de formation (Art.
                    L6223-3);
                </li>
                <li>
                    <i class="fas fa-angle-right"></i>
                    s'engager à faire suivre à l'apprenti la formation dispensée par le centre et à prendre part
                    aux activités destinées à coordonner celle-ci et la formation en entreprises ; veiller à
                    l'inscription et la participation de l'apprenti aux épreuves du diplôme (Art. L6223-4);
                </li>
                <li>
                    <i class="fas fa-angle-right"></i>
                    permettre au maître d'apprentissage de dégager sur son temps de travail les disponibilités
                    nécessaires à l'accompagnement de l'apprenti et aux relations avec le centre de formation
                    d'apprentis (Art. L6223-7);
                </li>
                <li>
                    <i class="fas fa-angle-right"></i>
                    veiller à ce que le maître d'apprentissage bénéficie de formations lui permettant d'exercer
                    correctement sa mission et de suivre l'évolution du contenu des formations dispensées à
                    l'apprenti et des diplômes qui les valident (Art. L6223-8);
                </li>
            </ul>
            <p>
                Une fois le contrat d'apprentissage signé par toutes les parties, une convention de formation
                précise les engagements réciproques de l'employeur, de l'apprenti, du CFA et de l'UFA pour ce
                qui relève de la mise en œuvre de la formation.
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5 col-sm-12 my-5 remember">
            <div class="rememberTitle d-none d-sm-block">Télécharger la convention</div>
            <div class="containt shadow">
                <a href="{{ asset('pdf/contrat_d_apprentissage.pdf') }}" download="Convention_de_formation">Convention de formation.pdf</a>
            </div>
        </div>
    </div>
    <div class="row mb-5 col-sm-mb-2">
        <div class="col offset-1 style-subtitle mb-5">
            <h2>Vos liens avec le CFA</h2>
        </div>
    </div>
    <div class="row">
        <div class="col offset-md-1">
            <p>
                En amont de la signature du contrat, une des missions du CFA est d'assister les postulants à
                l'apprentissage dans leur recherche d'un employeur, mais aussi d'aider celui-ci à comprendre le
                dispositif et ses modalités pour une mise en œuvre optimisée de l'apprentissage.
            </p>
            <p>
                Le "CFA pour les métiers du champ social et médico-social" est un CFA "hors-les-murs" : conformément
                aux articles R6233-27 et 29 du Code du travail, la direction du CFA est responsable du
                fonctionnement pédagogique et administratif du Centre, tandis que les responsables d'UFA sont
                chargés de la direction pédagogique des enseignements.
            </p>
            <p>
                L'apprenti effectue sa formation dans l'UFA dispensant les enseignements relatifs au diplôme visé.
                D'une manière générale, toutes les questions d'ordre pédagogique, d'organisation de l'alternance, de
                mise en œuvre des stages hors lieu d'emploi, sont du ressort de l'UFA.
            </p>
            <p>
                En revanche, le CFA reste l'interlocuteur attitré pour tout ce qui relève du contrat, des questions
                de droit du travail, de règlementation, les aspects administratifs ou financiers. En cas de
                difficultés, tensions ou conflits entre l'apprenti et l'employeur, le CFA constitue un espace de
                médiation pour permettre une résolution des problèmes dans le respect du cadre imparti.
            </p>

        </div>
    </div>
{% endblock %}