{% extends 'layout.html.twig' %}
{% block body %}
    <div class="container-fluid masterInstructor">
        <div class="row">
            <div class="col offset-md-1">
                <h1 class="my-5 style-page">Le maitre d'apprentissage</h1>
            </div>
        </div>
        <div class="row">
            <div class="col offset-1 mb-5">
                <p>
                    Dans la formation par l'apprentissage, la personne qui exerce la fonction de tuteur - directement
                    responsable de la formation de l'apprenti, est dénommée "maître d'apprentissage". C'est un
                    personnage-clé dans le processus de transmission des savoir-faire professionnels, qui contribue à
                    l’acquisition, par l’apprenti, des compétences correspondant à la qualification recherchée et au
                    diplôme préparé, en liaison avec le centre de formation. (Art. L6223-5 du Code du travail).
                </p>
                <p>
                    Salarié de l'établissement ou du service qui a embauché l'apprenti, son nom figure sur le contrat
                    d'apprentissage. Le Code du travail précise qu'il doit être titulaire du même diplôme que celui
                    préparé par l'apprenti, ou d'un diplôme de niveau équivalent, justifiant de deux années d'exercice
                    d'une activité professionnelle en relation avec la qualification visée par le diplôme ou le titre
                    préparé. (Nb. : les stages et les périodes de formation effectués en milieu professionnel, dans
                    le cadre d'une formation initiale ou continue qualifiante, ne sont pas pris en compte dans le
                    décompte de la durée d'expérience requise.)
                    (Art. R6223-24).
                </p>
                <p>
                    Un maître d'apprentissage peut suivre au plus deux apprentis, mais peut également accueillir un
                    apprenti dont la formation est prolongée en cas de validation partielle à l'examen. (Art. R6223-6)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col offset-1 style-subtitle mb-5">
                <h2>La fonction tutorale</h2>
            </div>
        </div>
        <div class="row">
            <div class="col offset-1 mb-5">
                <p>
                    Que vous soyez maître d'apprentissage d'un apprenti en formation de niveau V, IV ou III, votre
                    accompagnement constitue un des atouts majeurs pour l'apprenti(e), en vue de favoriser sa démarche
                    d'intégration et de construction d'une identité professionnelle personnalisée.
                </p>
                <p>
                    L'amplitude des formations (sur 18 mois, deux ou trois ans) est une donnée qui vous permet de suivre
                    dans la
                    durée l'évolution de l'apprenti dans son milieu de travail, sur le lieu d'accueil ou lors des stages
                    hors
                    lieu d'emploi. Depuis l'élaboration du projet de formation jusqu'au bilan de fin de formation, le
                    maître
                    d'apprentissage permet d'opérer un échange constant entre les expériences pratiques et les apports
                    de la
                    formation théorique, pluridisciplinaire et psychopédagogique. À travers le suivi de travaux de
                    formation, la
                    préparation d'écrits professionnels, les visites de stage, les bilans, la production d'évaluations,
                    le
                    maître d'apprentissage contribue à la co-construction de la formation, en concertation avec le
                    formateur 
                    d'accompagnement.
                </p>
                <p>
                    Le Code du travail indique que l'employeur doit permettre au maître d'apprentissage de dégager sur
                    son temps
                    de travail les disponibilités nécessaires à l'accompagnement de l'apprenti et aux relations avec le
                    centre
                    de formation (Art. L 6223-7). L'ensemble des temps consacrés à sa mission est, par conséquent, du
                    temps de
                    travail effectif.
                </p>
                <p>
                    Pour les établissements et services relevant de la Branche Associative Sanitaire, Sociale et
                    médico-sociale
                    à but non lucratif (BASS), des accords spécifient que la personne choisie pour exercer la fonction
                    tutotale
                    doit être volontaire, que l'employeur lui permettra de disposer du temps nécessaire exercer cette
                    fonction
                    et se former.
                </p>
                <p>
                    Il est précisé que pour assurer la fonction tutorale, le maître d'apprentissage doit avoir un rôle :
                </p>
                <ul>
                    <li>
                        d'écoute, de conseil, d'aide, d'accompagnement et de présentation de la profession et de
                        l'entreprise
                        auprès de l'apprenti ;
                    </li>
                    <li>
                        d'accompagnement dans l'élaboration et la mise en œuvre du projet professionnel de l'apprenti;
                    </li>
                    <li>
                        de contribution à l'acquisition de connaissances, de compétences et d'aptitudes professionnelles
                        par
                        l'apprenti, au travers d'actions de formation en situation professionnelle;
                    </li>
                    <li>
                        de participation à l'évaluation des compétences acquises dans le cadre de la formation pratique;
                    </li>
                    <li>
                        de contrôle de l'assiduité et de la qualité du travail de l'apprenti ;
                    </li>
                    <li>
                        de rencontre et débat avec le centre de formation ;
                    </li>
                    <li>
                        de participation aux différents bilans de l'apprenti.
                    </li>
                </ul>
                <p>
                    Par convention avec la Commission Paritaire Nationale pour l'Emploi et la Formation Professionnelle
                    (CPNE-FP) de la BASS, le CFA SMS Centr-Val de Loire s'est engagé à intégrer et à réguler, dans le
                    projet de formation des apprentis, le suivi pédagogque assuré par chaque maître d'apprentissage
                    auprès de son apprenti, sur la base de 10 heures effectives par mois, soit :
                </p>
                <ul>
                    <li>
                        210 heures pour un parcours complet de formation Moniteur éducateur,
                    </li>
                    <li>
                        320 heures pour un parcours complet de formation Éducateur Spécialisé, Éducateur de Jeunes
                        Enfants, Assistant de Service Social,
                    </li>
                    <li>
                        190 heures pour un parcours complet de formation BTS en Économie Sociale Familiale.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col offset-1 style-subtitle mb-5">
                <h2>Les outils pédagogiques</h2>
            </div>
        </div>
        <div class="row">
            <div class="col offset-1 mb-5">
                <p>
                    L'apprentissage repose sur le principe d'une formation assurée par les pairs, dont les pratiques
                    pédagogiques, partagées par le maître d'apprentissage et le formateur d'accompagnement, s'organisent
                    autour d'outils communs. Parmi ceux-ci :
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col offset-2 style-subtitle mb-5">
                <h3>Le livret d'apprentissage</h3>
            </div>
        </div>
        <div class="row">
            <div class="col offset-2 mb-5">
                <p>
                    C'est un outil pédagogique indispensable conçu pour activer une dynamique entre l'apprenti, les
                    lieux de pratiques professionnelles et l'Unité de Formation d'Apprentis (UFA). Le livret
                    d'apprentissage rassemble divers contenus qui articulent deux dimensions :
                </p>
                <ul>
                    <li>
                        un angle informatif, comprenant les données utiles à la compréhension du cadre règlementaire et
                        contractuel, ainsi que les références, consignes, contacts et informations nécessaires à la
                        compréhension et la mise en œuvre de la formation ;
                    </li>
                    <li>
                        une démarche "créative", suscitant le recueil des traces écrites (projets, réflexions, travaux
                        écrits, bilans, évaluations, fiches de liaison) résultant de la coopération de tous les acteurs
                        impliqués dans la formation théorique et pratique.
                    </li>
                </ul>
                <p>
                    Le livret d'apprentissage ne pourrait se satisfaire d'obéir à une injonction prescriptive, de type
                    "scolaire". Il propose des outils pédagogiques que chacun peut s'approprier dans la pratique, de
                    façon à prévenir le risque de morcellement ou de juxtaposition des moments et des contenus de
                    l'alternance, en favorisant un va-et-vient constant entre les expériences pratiques et les savoirs
                    théoriques.
                </p>
                <p>
                    Sous format papier ou électronique, le livret d'apprentissage est avant tout l'affaire de
                    l'apprenti, qui, en tant que sujet de sa propre implication, y imprime la trace de son parcours de
                    formation. En outre, c'est un lien entre toutes les parties concernées.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col offset-2 style-subtitle mb-5">
                <h3>Les programmes prévisionnels de formation</h3>
            </div>
        </div>
        <div class="row">
            <div class="col offset-2 mb-5">
                <p>
                    Quelles que soient les formations suivies, les programmes de formation visent à la fois
                    l'acquisition de
                    références théoriques, la préparation aux épreuves de certification, et participent à la
                    construction
                    d'une identité professionnelle. Répondant aux exigences des référentiels de formation, ils sont
                    organisés de façon à accompagner logiquement l'apprenti dans la progression de son parcours. Il est
                    donc
                    indispensable que le maître d'apprentissage puisse s'appuyer sur la connaissance du déroulement
                    pédagogique afin de pouvoir, à son tour, proposer des situations apprenantes qui viendront tisser le
                    lien "théorie-pratique".
                </p>
                <p>
                    Au démarrage de l'apprentissage dans le secteur social et médico-social, il était prévu que des
                    unités de formation optionnelles puissent être réalisées sur le lieu de travail de l'apprenti. Sous
                    la responsabilité du maître d'apprentissage, ces contenus pédagogiques sont pour le lieu d'emploi
                    une opportunité de créativité dans la transmission de savoirs-faire spécifiques, de savoirs de
                    référence originaux. Pour l'UFA qui met en pratique cette possibilité, les programmes prévisionnel
                    proposent alors des thèmes indicatifs pour guider le maître d'apprentissage dans sa mission
                    d'organiser ces contenus, en lien avec le référentiel de formation.
                </p>


            </div>
        </div>
        <div class="row">
            <div class="col offset-2 style-subtitle mb-5">
                <h3>Les groupes d'accompagnement à la professionnalisation</h3>
            </div>
        </div>
        <div class="row">
            <div class="col offset-2 mb-5">
                <p>
                    Ces groupes, dont l'appellation peut varier selon les UFA, sont des espaces où se mettent en jeu le
                    mode de construction des pratiques professionnelles et la place des savoirs dans l'identité
                    professionnelle. Par la mutualisation des expériences, la confrontation des idées, le regard
                    critique, ces groupes généralement animés par un même formateur pendant la durée du cursus
                    constituent un dispositif pédagogique incontournable pour faire avancer la qualité de la formation
                    dans le cadre de l'apprentissage.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col offset-2 style-subtitle mb-5">
                <h3>L'environnement numérique de travail</h3>
            </div>
        </div>
        <div class="row">
            <div class="col offset-2 mb-5">
                <p>
                    Le CFA SMS Centre - Val de Loire soutient le développement des environnements numériques de travail
                    dans les différentes UFA, de façon à proposer des moyens de communication efficaces pour faciliter
                    la rencontre entre tous les acteurs engagés dans l'apprentisssage et optimiser l'acquisition des
                    connaissances. Le déploiement de plateformes interactives, permettant de mettre en lien le livret
                    d'apprentissage électronique, des contenus pédagogiques, les agendas, les modalités d'accompagnement
                    et d'évaluation, est un moyen recherché pour faciliter la co-formation de l'apprenti.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col offset-1 style-subtitle mb-5">
                <h2>Liens avec les UFA</h2>
            </div>
        </div>
        <div class="row">
            <div class="col offset-1 mb-5">
                <p>
                    La pédagogie de l'alternance ne serait qu'une formule vide de sens, si certaines conditions ne sont
                    pas réunies. Il s'agit que le lieu d'emploi et l'UFA se situent en co-formateurs engagés dans un
                    projet commun, inscrit dans le temps. Pour cela, outre la circulation d'informations pédagogiques
                    (plannings, programmes prévisionnels, etc.) et les communications informelles, des rencontres
                    programmées vont permettre de baliser le processus de formation.
                </p>
                <p>
                    Les maîtres d'apprentissage qui n'ont pas encore l'expérience de la fonction tutorale font remarquer
                    qu'ils appréhendent parfois les premiers temps de l'arrivée de l'apprenti, ne s'estimant pas assez
                    aguerris pour garantir un accueil optimal. Une première rencontre des maîtres d'apprentissage
                    organisée par l'UFA en début de cursus est bienvenue pour présenter le cadre règlementaire et
                    pédagogique, faire connaissance et poser les bases de l'accompagnement.
                </p>
                <p>
                    Le Code du travail (Art. R6233-58) prévoit une première évaluation du déroulement de la formation,
                    et le cas échéant d'adapter cette dernière. L'employeur, l'apprenti, le maître d'apprentissage et un
                    formateur de l'UFA participent à cet entretien, qui doit se tenir - selon les termes de l'article –
                    dans les deux mois suivant la conclusion du contrat. Cette étape va permettre de prendre
                    connaissance du projet de formation professionnelle élaboré par l'apprenti en concertation avec son
                    maître d'apprentissage et le formateur de l'UFA, de poser les jalons du parcours (ex. : choix du ou
                    des stages hors lieu d'emploi, affectation sur telle unité, prise de responsabilités graduelle).
                    Cette rencontre permet de fixer un cadre pour trouver l'équilibre dans l'exécution du contrat de
                    travail, entre la position de salarié en responsabilité et celle d'apprenti en formation, d'aborder
                    des modalités pratiques telles que : organisation de l'accompagnement, temps accordé pour la
                    recherche et l'approfondissement, calendrier de bilans, etc. L'expérience montre que le lieu
                    d'emploi est l'endroit idéal, car c'est également l'occasion, pour la personne représentant l'UFA,
                    de prendre connaissance du "plateau technique" de l'établissement ou service employeur, de son
                    histoire ou de sa culture professionnelles, d'initier une relation qui se prolongera sur la durée du
                    contrat. Pour l'employeur, le maître d'apprentissage et les autres membres de l'équipe
                    éventuellement présents, c'est le moment de saisir in situ les enjeux pédagogiques au cœur de la
                    fonction tutorale, pour que la transmission des savoir-faire professionnels amène l'apprenti à
                    construire progressivement les compétences attendues.
                </p>
                <p>
                    Dans la suite du cursus, des rencontres à l'UFA, rassemblant "maîtres d'apprentissages / formateurs
                    d'accompagnement", sont des moments de partage et de réflexions ouverts à l'ensemble des partenaires
                    concernés. Tout en faisant avec les moyens disponibles, chaque lieu d'apprentissage crée ses propres
                    outils d'accompagnement : la mutualisation des expériences et la confrontation des questionnements
                    produisent une émulation qui profite aussi bien à l'apprenti qu'à son environnement tutoral.
                </p>
                <p>
                    Les sessions de bilan rassemblant apprentis, maîtres d'apprentissage et formateurs, notamment en fin
                    de cycle de formation, sont l'occasion de faire un retour sur expérience et d'évaluer la qualité du
                    dispositif, de façon à identifier les défaillances et favoriser les "bonnes pratiques".
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col offset-1 style-subtitle mb-5">
                <h2>La formation de maître d'apprentissage</h2>
            </div>
        </div>
        <div class="row">
            <div class="col offset-1 ">
                <p>
                    Le Code du travail précise : " L'employeur veille à ce que le maître d'apprentissage bénéficie de
                    formations lui permettant d'exercer correctement sa mission et de suivre l'évolution du contenu des
                    formations dispensées à l'apprenti et des diplômes qui les valident" (Art. L6223-8). Si la formation
                    de maître d'apprentissage n'est pas rendue obligatoire par le Code, elle est explicitement
                    préconisée.
                </p>
                <p>
                    Pour les établissements et services relevant de la BASS, et afin d'assurer la fonction tutorale dans
                    les meilleures conditions, la formation du maître d'apprentissage a été rendue obligatoire (Art. 4
                    de l'accord de branche n°2008-01 sur la formation professionnelle tout au long de la vie).
                </p>
                <p>
                    Par convention avec la CPNE-FP de la BASS, le CFA SMS Centre - Val de Loire s'est engagé à mettre en
                    œuvre la formation des maîtres d'apprentissage selon un cahier des charges établi. Cette formation
                    est ainsi composée du module "Formation de tuteur de proximité - les bases" (40 heures maximum) et
                    d'un module "spécifique à la fonction de maître d'apprentissage" (40 heures). Sur proposition du
                    CFA, l'ERTS d'Olivet et l'ITS de Tours ont été labellisés pour trois ans (jusqu'au 31 août 2016)
                    pour dispenser le module "spécifique à la fonction de maître d'apprentissage".
                </p>
                <p>
                    Le coût de cette formation fait l'objet d'une prise en charge par l'Organisme Paritaire Collecteur
                    Agréé de la BASS, UNIFAF.
                </p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-5 offset-1  col-sm-12 my-5 remember">
                <div class="rememberTitle">Liens</div>
                <div class="containt shadow">
                    <ul class="list_none">
                        <li>
                            <a href="http://www.its-tours.com/#KLINK">its-Tours</a>
                        </li>
                        <li>
                            <a href="http://www.erts-olivet.org/index.php?option=com_k2&view=item&id=14:formations-tutorales&Itemid=1475">erts-olivet</a>
                        </li>
                        <li>
                            <a href="http://www.cpne-fp.fr/les-dispositifs-de-formation/tuteur-maitre-d-apprentissage/">cnpe</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}