{%  extends 'layout.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="section-title background-apprenti"></div>
    <div class="row">
        <div class="col-md-12 col-sm-3">
            <h1 class="title-style style-page">L'apprentissage: quelle formation ?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12 border-right formation-list">
            {% for formation in formations %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a class="link-formation" href="{{ path('formation', { 'id': formation.id }) }}">
                            <i class="fas fa-graduation-cap"></i>
                            {{ formation.name }}
                        </a>
                    </li>
                </ul>
            {% endfor %}
        </div>
        <div class="col-md-8 offset-1 my-5">
            <div class="row">
                <h2 class=" mb-5 style-subtitle">La formation par l'apprentissage</h2>

                <p>L'apprentissage est un système de formation dont l'origine remonte à la fin du Moyen Age,
                    (bien avant l'existence de lycées professionnels ou de centres de formation...), où des jeunes étaient "placés chez
                    un patron qui devait leur enseigner son art"...
                </p>

                <p> Modernisé en 1919 avec la loi Astier du 25 juillet, institutionnalisé par la loi 71-576 du 16 juillet 1971,
                    l'apprentissage est une <strong>voie d'accès à la certification</strong>réformée à plusieurs reprises jusqu'à
                    nos jours, qui s'ajoute à la formation initiale sous statut d'étudiant ("voie directe"), à la formation
                    professionnelle continue ("situation d'emploi"), en vue de l'obtention d'un diplôme, titre ou certification
                    à finalité professionnelle. Les diplômes obtenus à l'issue d'une formation par l'apprentissage sont les mêmes
                    que s'ils étaient obtenus à l'issue d'une formation en voie directe, en situation d'emploi, ou d'une démarche
                    de Validation des Acquis de l'Expérience (VAE).
                </p>

                <p>L'apprentissage se déroule dans le cadre d'un <strong>contrat de travail particulier</strong>,
                    réglementé par le Code du travail (Livre II, articles L6211 à L6252).
                </p>

                <p>L'apprentissage est une forme particulière de <strong>formation par l'alternance</strong> qui dépasse
                    les anciennes représentations
                    traditionnelles souvent dévalorisantes liées aux métiers de niveau V, qui couvre jusqu'au niveau I. C'est une manière
                    de concevoir la formation professionnelle <strong>sur le lieu d'emploi</strong>, sur la base d'une transmission
                    des savoir-faire, des compétences, des connaissances, en articulation avec un centre de formation d'apprentis.
                </p>
            </div>

            <div class="row">

                <h2 class="mb-5 style-subtitle">Quelle formation ?</h2

                <p>L'apprentissage n'est pas une fin en soi, et on ne le choisit pas parce qu'on se dit : "j'en assez de la
                    scolarité, je veux être sur le terrain"… ou bien parce que c'est la possibilité d'avoir un revenu financier.
                </p>
                <p> L'apprentissage est une voie d'accès à la qualification : par conséquent, les motivations du candidat pour
                    telle ou telle profession sont essentielles, elles seront d'ailleurs appréciées lors de l'entretien
                    d'embauche avec un employeur, et lors des épreuves d'admission qui sont incontournables pour entrer en
                    formation dans les métiers du travail.
                </p>
                <p>Les professions du travail social ne sont pas "interchangeables" : si elles visent généralement le
                    développement des capacités d'autonomie, de socialisation, d'intégration, d'insertion, elles ne se
                    déclinent pas de la même façon dans les métiers de l'éducation spécialisée, de la petite enfance ou de
                    l'économie sociale familiale.
                </p>
                <p>Pour chaque diplôme correspondant à une profession, un référentiel professionnel présente la définition
                    du métier et le contexte de l'intervention, décrit les fonctions et activités qui y sont liées et précise
                    les compétences attendues pour les exercer. Comme son nom l'indique, ce référentiel professionnel "fait
                    référence" pour toutes les parties : candidats, étudiants, apprentis, formateurs, jurys de diplôme…
                </p>

            </div>
            <div class="row">
                <p>Vous pouvez prendre connaissance des référentiels pour chaque diplôme dont la formation est dispensée
                    dans une des Unités de Formation d'Apprentis (UFA) du CFA SMS Centre-Val de Loire, en les téléchargeant.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}