{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
                <h1>Le status d'apprenti</h1>
            <p>
                Quand on demande à un étudiant en travail social quel est, dans sa formation, son "port d'attache",
                il répondra que c'est le centre de formation. Quand on demande à un apprenti quel est son "port d'attache",
                la réponse est directe : c'est son lieu d'emploi ! En effet, l'apprenti est un salarié, membre d'une
                équipe pluriprofessionnelle pour la durée de son contrat de travail, qui peut être conclu en CDD ou
                en CDI. C'est un salarié… en formation !
            </p>
        </div>
        <div class="row">
            <div class="col-md-8 offset-2">
                <h2>Quels sont vos droits et devoirs ?</h2>
                <p>Commençons par les devoirs…</p>
                <p>
                    L'apprenti est un salarié ayant deux obligations : d'une part, celle de travailler pour son employeur en respectant
                   les règles de fonctionnement de l'entreprise ; d'autre part, celle de se former pour le diplôme mentionné au contrat
                   d'apprentissage.
                </p>
                <p>
                    En d'autres termes, le temps effectif de travail de l'apprenti (35 h hebdomadaire en moyenne) comprend
                    aussi bien le temps d'implication professionnelle sur le lieu d'emploi que la présence en temps de
                    formation à l'UFA (ou éventuellement en stage "hors lieu d'emploi"). L'<strong>assiduité</strong> de l'apprenti est un
                    facteur qui détermine la continuité et la cohérence de son parcours de formation, mais c'est aussi une
                    donnée prise en compte pour le bon fonctionnement administratif et financier de l'apprentissage, notamment
                    pour l'attribution d'aides ou de primes destinées aux employeurs et aux apprentis.
                    Le Code du travail mentionne également une autre obligation essentielle : "L'apprenti est tenu de se
                    présenter aux épreuves du diplôme ou du titre prévu par le contrat d'apprentissage" (article L6222-34).
                    La finalité du contrat est bien d'obtenir une qualification !
                </p>

                <p>Et les droits ?</p>
                <p>
                    Là encore, le Code du travail est explicite : "L'apprenti bénéficie des dispositions applicables à
                    l'ensemble des salariés dans la mesure où elles ne sont pas contraires à celles qui sont liées à sa situation
                    de jeune travailleur en formation" (Art. L.6222-23). À ce titre, toutes les lois et conventions collectives et
                    autres accords lui sont applicables dans les mêmes conditions qu’aux autres salariés.
                    Saviez-vous qu'un apprenti ne peut ni démissionner ni être licencié ?
                </p>
                <p>
                    En effet, la rupture d'un contrat d'apprentissage ne peut intervenir que dans quatre situations précises
                    (articles L6222-18 et 19) :
                </p>
                <ul>
                    <li>pendant les deux premiers mois qui suivent la signature du contrat (ce qui constitue en quelque
                        sorte une "période d'essai", les deux parties peuvent se séparer unilatéralement ;</li>
                    <li>
                        Passés les deux mois, la résiliation du contrat ne peut intervenir que d'un commun accord entre
                        les parties et doit être constatée par écrit ;
                    </li>
                    <li>
                        le contrat peut être interrompu avant la fin de son terme par l'apprenti à la suite de l'obtention
                        du diplôme visé, à condition d'en avoir informé préalablement l'employeur.
                    </li>
                    <li>
                        la dernière modalité de rupture ne se fait plus à l'amiable : elle ne peut être prononcée que
                        par le Conseil de Prud'hommes, statuant en la forme des référés, en cas de faute grave ou de
                        manquements répétés de l'une des parties à ses obligations…
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-2">
                <h2>L'accompagnement</h2>
                <p>L'apprentissage est une voie de formation où la transmission des savoir-faire professionnels s'effectue
                    sur le lieu d'emploi, dans une équipe au sein de laquelle va émerger une personne volontaire, assumant une
                    fonction tutorale : le maître d'apprentissage.
                </p>
                <p>
                    Son nom figure au contrat : le maître d'apprentissage est responsable de la formation pratique de l'apprenti.
                    Le code du travail indique qu'il a pour mission de contribuer à l'acquisition par l'apprenti des compétences
                    correspondant à la qualification recherchée et au titre ou diplôme préparés, en liaison avec le CFA (article 6223-5).
                </p>
                <p>
                    Le Code du travail ajoute que "l'employeur permet au maître d'apprentissage de dégager sur son temps
                    de travail les disponibilités nécessaires à l'accompagnement de l'apprenti et aux relations avec le CFA"
                    (article L6223-7).
                </p>
                <p>Du côté du CFA, les Unités de Formation d'Apprentis doivent désigner un formateur,
                    qui en coordination avec les autres formateurs, est plus spécialement chargé de suivre la formation de
                    cet apprenti, de vérifier son assiduité et d'assurer une liaison avec le maître d'apprentissage (article R6233-57).
                    Souvent nommé "formateur d'accompagnement", cette personne complète le dispositif d'apprentissage.
                </p>
                <p>
                    Ainsi l'apprenti, sujet central de la formation, est accompagné et soutenu de part et d'autre dans
                    les lieux complémentaires d'acquisition des compétences et connaissances. Chacun des acteurs, en étant
                    fidèle à l'engagement prévu par le contrat, contribue à la qualité de la professionnalisation de l'apprenti.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-2">
                <h2>Rémunération, aides</h2>
                <p>
                    L'apprenti est un travailleur dont le <strong>salaire</strong> est exprimé en pourcentage du SMIC en fonction de l'âge
                    (moins de 21 ans, 21 ans et plus) et de la progression dans le cycle de formation.
                </p>
                <p>
                    L'apprenti est totalement exonéré de cotisations sociales (qui sont prises en charge par l'État).
                    De ce fait, son salaire "brut" égale son salaire "net". Il peut cependant cotiser à une mutuelle.
                    De plus, il est totalement exonéré d'impôt sur le revenu dans la limite du SMIC.
                </p>
                <p>
                    Le barème des salaires est différent selon que l'apprenti a conclu un contrat dans le secteur public
                    ou privé. Dans le secteur privé, les employeurs adhérents à la Branche Associative Sanitaire, Sociale
                    et médico-sociale à but non lucratif appliquent un barème particulier.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-2">
                <fieldset class="remember">
                    <legend class="remember2">Ce qu'il faut retenir</legend>
                    <table>
                        <caption>
                            <strong>Employeurs Publics</strong>
                            <p>
                                (fonctions publiques d'État, Territoriale, Hospitalière)
                            </p>
                        </caption>

                        <thead>
                            <tr>
                                <td>Cycle de formation</td>
                                <td colspan="3">Apprenti de moins de 21 ans</td>
                                <td colspan="3">Apprenti de 21 ans et plus</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Niveau V</td>
                                <td>Niveau IV</td>
                                <td>Niveau III</td>
                                <td>Niveau V</td>
                                <td>Niveau IV</td>
                                <td>Niveau III</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1 ère année</td>
                                <td>41% du SMIC</td>
                                <td>51% du SMIC</td>
                                <td>61% du SMIC</td>
                                <td>53% du SMIC</td>
                                <td>63% du SMIC</td>
                                <td>73% du SMIC</td>
                            </tr>
                            <tr>
                                <td>2 ième année</td>
                                <td>49% du SMIC</td>
                                <td>59% du SMIC</td>
                                <td>69% du SMIC</td>
                                <td>61% du SMIC</td>
                                <td>71% du SMIC</td>
                                <td>81% du SMIC</td>
                            </tr>
                            <tr>
                                <td>3 ième année</td>
                                <td>65% du SMIC</td>
                                <td>75% du SMIC</td>
                                <td>85% du SMIC</td>
                                <td>78% du SMIC</td>
                                <td>88% du SMIC</td>
                                <td>98% du SMIC</td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="7">Le barème du salaire de l'apprenti tient compte du niveau du diplôme visé</td>
                            </tr>
                        </tfoot>
                    </table>

                    <table>
                        <caption>
                            <strong>Employeurs Privés</strong>
                            <p>
                                Les employeurs privés non adhérents de la Branche Associative, Sanitaire, Sociale et
                                médico-sociale (BASS) appliquent le barème de droit commun corrrespondant au niveau V du
                                tableau ci-dessus.
                            </p>
                        </caption>

                        <thead>
                            <tr>
                                <td>Cycle de formation</td>
                                <td>moins de 21 ans</td>
                                <td>21 ans et plus</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1<sup>ère</sup> année</td>
                                <td>50% du SMIC</td>
                                <td>65% du SMIC (ou du minimum conventionnel)</td>
                            </tr>
                            <tr>
                                <td>2<sup>ième</sup> année</td>
                                <td>60% du SMIC</td>
                                <td>75% du SMIC (ou du minimum conventionnel)</td>
                            </tr>
                            <tr>
                                <td>3<sup></sup> année</td>
                                <td>70% du SMIC</td>
                                <td>95% du SMIC (ou du minimum conventionnel)</td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="3">Les employeurs adhérents de la BASS sont assujettis aux accords de branche
                                    2006-01 et 2008-01 qui déterminent le salaire de l'apprenti selon le barème.
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-2">
                <p>
                    Les apprentis bénéficient d'<strong>aides</strong> octroyées par le Conseil Régional Centre-Val de Loire, gérées par le CFA :
                </p>
                <ul>
                    <li>
                        une indemnité forfaitaire de transport, en fonction de la distance entre le domicile de l'apprenti et l'UFA où il effectue sa formation
                    </li>
                    <li>
                        une indemnité forfaitaire de restauration
                    </li>
                    <li>
                        le chéquier Culture de la Région Centre (CLARC)
                    </li>
                </ul>
                <p>
                    D'autres organismes octroient une aide aux apprentis pendant leur cursus de formation :
                </p>
                <ul>
                    <li>
                        le dispositif Mobili-jeune®, (géré par les Comités Interprofessionnels du Logement, permettant
                        de bénéficier d'une aide au loyer pouvant aller jusqu'à 100 € mensuels ;
                        <p>
                            (<a href="http://www.cil-valdeloire.com/cil-action-logement/salaries/mobilite">http://www.cil-valdeloire.com/cil-action-logement/salaries/mobilite </a>)
                        </p>
                        <p>
                            (<a href="http://www.procilia.com/">http://www.procilia.com/</a>)
                        </p>
                    </li>
                    <li>
                        la SNCF propose des abonnements réduits aux apprentis sur les TER ou Intercités
                        <p>
                            (<a href="http://www.sncf.com/fr/tarifs-reduits/statuts-specifiques">http://www.sncf.com/fr/tarifs-reduits/statuts-specifiques</a>)
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}