{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Créer une formation</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Créer" />
        {{ form_end(form) }}

        <ul>
            <li>
                <a href="{{ path('formation_index') }}">Retour à la liste des formations</a>
            </li>
        </ul>
    </div>
{% endblock %}
