{% extends 'layoutAdmin.html.twig' %}
{% block title %}Administration d'une formation du cfa de Blois{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer une formation</h1>
            <div class="row">
                <div class="col-8">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input class="btn-lg btn-outline-primary" type="submit" value="Créer" />
                    {{ form_end(form) }}
                </div>
            <div class="col-4 border-left">
                <a class="btn-light btn-lg" href="{{ path('formation_admin_index') }}">Retour à la liste</a>
            </div>
        </div>
    </div>
{% endblock %}
