{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center title-style">L'histoire du CFA</h1>

        <table class="table table-striped text-center">
            <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for historicCfa in historicCfas %}
                <tr>
                    <td>{{ historicCfa.id }}</td>
                    <td>{{ historicCfa.date }}</td>
                    <td>{{ historicCfa.title }}</td>
                    <td>
                        <ul>
                            <li>
                                <a class="btn btn-info form-control" href="#">Voir</a>
                            </li>
                            <li>
                                <a class="btn btn-danger form-control" href="#">Modifier</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <ul>
            <li>
                <a class="btn btn-info mt-4 mb-5" href="">Créer une histoire</a>
            </li>
        </ul>
    </div>
{% endblock %}
