{% extends 'layoutAdmin.html.twig' %}
{% block title %}Administration de l'histoire du cfa de Blois{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter une histoire</h1>
        <div class="row">
            <div class="col-8">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn-lg btn-outline-primary" type="submit" value="Créer" />
                {{ form_end(form) }}
            </div>
            <div class="col-4 border-left">
                <a class="btn-light btn-lg" href="{{ path('historiccfa_index') }}">Liste des histoires</a>
            </div>
        </div>
    </div>
{% endblock %}
