{% extends 'layoutAdmin.html.twig' %}
{% block title %}Administration de la taxe d'apprentissage{% endblock %}

{% block body %}
<div class="container">
    <h1>Création de la taxe d'apprentissage</h1>
        <div class="row">
            <div class="col-sm-8 col-12">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                    <input type="submit" class="btn btn-outline-primary" value="Créer" />
             {{ form_end(form) }}
         </div>
        <div class="col-4 border-left">
            <a class="btn btn-outline-secondary" href="{{ path('taxe_admin_index') }}">Retour à la liste</a>
        </div>
    </div>
</div>
{% endblock %}
