{%  extends 'layout.html.twig' %}

{% block body %}
<div class="section-title background-taxe"></div>
<div class="row">
    <div class="col-md-12 col-sm-3">
        <h1 class="title-style style-page">FAQ</h1>
    </div>
</div>