{%  extends 'layout.html.twig' %}

{% block body %}
<section id="activeTab" data-active="taxe" class="container-fluid">
    <div class="section-title background-taxe"></div>
        <div class="row">
            <div class="col offset-md-1">
                <h1 class="title-style style-page">La taxe d'apprentissage</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col offset-md-1">
                {% for taxe in taxes %}
                    <p>{{ taxe.taxeApprentissage|raw }}</p>
                {% endfor %}
            </div>
        </div>
</section>
{% endblock %}
