{% extends 'layoutAdmin.html.twig' %}

{% block body %}
<div class="container">
    <h1>Création du Cfa</h1>
    <div class="row">
        <div class="col-sm-8 col-12">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn btn-outline-primary" type="submit" value="Créer" />
            {{ form_end(form) }}
        </div>
        <div class="col-4 border-left">
            <a class="btn btn-outline-secondary" href="{{ path('cfa_admin_index') }}">Retour</a>
        </div>
    </ul>
    </div>
</div>
{% endblock %}
